/* styles.css */

/* Basic styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color: #000;
    padding: 20px;
  }
  
  nav img {
    height: 40px;
  }
  nav center{
    color: #e50914;
    font-size-adjust: 100%;
    
  }
  
  /* Main styles */
  .hero {
    background-image: url('hero_background.jpg');
    background-size: cover;
    background-position: center;
    color: #1e3ef1;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 36px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #e50914;
    color: #fff;
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #e50914;
  }
  
  /* Content styles */
  .content {
    padding: 40px 20px;
    text-align: center;
  }
  
  .title-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justifycontent: center;
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  /* Footer styles */
  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  